.new-spot-card {
  min-height: 148px;
  min-width: 520px;
  width: calc(50% - 16px);
  border: 2px solid #ccc;
  background: #f4f4f4;
  border-radius: 8px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  font-size: 64px;
  color: #ccc;
  cursor: pointer;

  &:hover {
    border-color: #707070;
    color: #707070;
  }
}
