.register-profile-page {
  background-image: url(../../assets//images//background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .register-profile-page-content {
    width: fit-content;
    height: fit-content;
  }

  .card {
    width: 800px;
    max-width: 100%;
    padding: 32px 48px;

    .btn-primary {
      width: 80%;
      display: block;
      margin: 16px auto 0;
    }
  }

  .error-message {
    text-align: center;
    padding-top: 16px;
  }
  .flex-row {
    justify-content: space-between;

    .form-group {
      width: calc(50% - 8px);
    }
  }

  .register-terms-of-use {
    justify-content: flex-start;
    align-items: center;

    label {
      padding-left: 8px;
    }

    a {
      font-weight: bold;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .spot-form-col-12 {
    width: 100% !important;
  }
  .spot-form-col-6 {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 8px);
  }
  .spot-form-col-8 {
    width: calc(((100% * 8) / 12) - 8px) !important;
  }
  .spot-form-col-4 {
    width: calc(((100% * 4) / 12) - 8px) !important;
  }

  .spot-techs-container {
    display: flex;
    .spot-techs-list {
      padding-left: 16px;
      width: 50%;

      ul {
        list-style: none;
        padding: 0;
        width: 100%;
      }
      li {
        color: #707070;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 16px;
      }
      li span {
        cursor: pointer;
        color: #808080;

        &:hover {
          font-weight: bold;
        }
      }
    }
    .form-group {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      label {
        width: 100%;
      }
      input {
        width: 60%;
      }
      button {
        width: calc(40% - 16px);
        margin: 0;
        font-size: 14px;
        background: #607dc7;
      }
    }
  }
}
